<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>763569827363-ao8mgpc7asgvdv6eistmmq2q93k30fgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763569827363-ao8mgpc7asgvdv6eistmmq2q93k30fgm</string>
	<key>API_KEY</key>
	<string>AIzaSyBic-SAwSCaB06j7B9m51Z5Dr-UVb2kNZk</string>
	<key>GCM_SENDER_ID</key>
	<string>763569827363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lotszkit.CPlusKitchen</string>
	<key>PROJECT_ID</key>
	<string>cpluskitchen-7a852</string>
	<key>STORAGE_BUCKET</key>
	<string>cpluskitchen-7a852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:763569827363:ios:25069a9100bea727</string>
	<key>DATABASE_URL</key>
	<string>https://cpluskitchen-7a852.firebaseio.com</string>
</dict>
</plist>